:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-hover: #3c92fa;
}

body{
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal{
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%; /*dividi a tela em duas metades*/

}
.container__botao{
  background-color: var(--botao-azul);
  text-decoration: none;
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  margin-bottom: 1em;
}
.container__botao:hover{
  background-color: var(--botao-azul-hover);
  color: var(--cor-de-fundo);
}
.botao_secundario{
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}
.container__aviso{
  font-size: 0.75rem;
  color: var(--cinza-secundario);
}
.container__titulo{
  font-size: 1.75rem;
}
.container__img{
  margin: 1em 0 2em 0;
}
.container__caixa{
  margin: 0 6em;
}

.secundario_img{
  width: 80%;
}

.secundario{
  align-items: center;
  margin: 0 10em;
}
.descricao__titulo{
  font-weight: 700;
  font-size: 3rem;
  color: var(--branco-principal);
  margin: 0.1em;
}
.descricao__texto{
  font-size: 1rem;
  color: var(--cinza-secundario);
}
.secundario__botao{
  display: inline-block;
  margin-top: 1em;
}
.container__descricao{
  padding: 2em;
}
.dispositivos__lista{
  display: flex;
  justify-content: center;
  list-style-type:none;
  margin: 40px 0;
}
.dispositivos{
  text-align: center;
  
}
.dispositivos__titulo{
  font-size: 3rem;
}
.lista__item{
  font-size: 2rem;
  color: var(--branco-principal);
}
.footer{
  text-align: center;
  margin: 140px 120px 80px ;
}
.footer__lista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}
.lista__link a{
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.footer__texto{
  color: var(--branco-principal);
  justify-content: center;
  margin-top: 24px;
  font-size: 0.85rem;
}
.lista__link a:hover{
  color: var(--botao-azul);
}
